<%-include('../layout/admin/header.ejs') %>


<style>
    a.add-topic {
    display: flex;
    background: #fff;
    max-width: 160px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

</style>
<div class="clearfix"></div>
  <div style="text-align: center;" class="content-wrapper">
    <h2>
      List Post
    </h2>
    <div class="container-fluid">
        <a class="add-topic" href="/admin/createNewPost">Create a new Post</a>
      <div class="card mt-3">
        <div class="card-content">
          
            <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Image</th>

                        <th>Topic</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>  
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                        
                        <tr>
                            <!-- <td><%= data[i].Id%></td> -->
                            <td>
                                <form action="/admin/delete-post/<%= data[i].Id %>"  method="POST" onsubmit="return confirmDelete();" style="display:inline;">
                                    <button type="submit">Delete</button>
                                </form>
                                <form action="/admin/edit-post/<%= data[i].Id %>" method="GET" style="display:inline;">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                            <td style="text-align: justify;"><%= data[i].Title %></td>
                            <td><img style="max-width: 90px;" src="/<%= data[i].Image%>" alt="image of"></td>
                            <td><%= data[i].NameTopic%></td>
                            <td><%= data[i].Created_at%></td>
                            <td><%= data[i].Updated_at%></td> 
                            
                            
                        </tr>
                     <% } %>
                   
                </tbody>
                <tfoot>
                    <tr>s
                        <!-- <th>Id</th> -->
                        <th>Title</th>
                        <th>Image</th>

                        <th>Topic</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>  
                    </tr>
                </tfoot>
            </table>
        </div>
    </div> 
  </div>
</div>




<%-include('../layout/admin/footer.ejs') %>